.cardContainer {
  position: relative;
  width: 130px;
  height: 152px;
  text-align: center;
}

.image {
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #3e4462;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .cardContainer {
    width: 250px;
    height: 288px;
  }
}

@media screen and (min-width: 1440px) {
  .cardContainer {
    width: 340px;
    height: 372px;
  }
}
