.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--titleColor);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 44px;
  }
}
