.authBackgroundImg {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  height: 490px;
  position: absolute;
  bottom: 0;

  background-size: cover;
  z-index: -1;
  background-position: 50% 0;
  background-image: url('../../assets/images/authImages/backgroundMobile_1x_min.png');
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .authBackgroundImg {
    background-image: url('../../assets/images/authImages/backgroundMobile_2x_min.png');
  }
}
@media screen and (min-width: 768px) {
  .smallWarning {
    font-size: 14px;
    top: 5px;
  }
  .authBackgroundImg {
    height: 606px;
    background-image: url('../../assets/images/authImages/backgroundTablet_1x_min.png');
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .authBackgroundImg {
      background-image: url('../../assets/images/authImages/backgroundTablet_2x_min.png');
    }
  }
}
@media screen and (min-width: 1440px) {
  .smallWarning {
    font-size: 14px;
    top: 0;
  }
  .authBackgroundImg {
    height: 42vh;
    background-image: url('../../assets/images/authImages/backgroundDesktop_1x_min.png');
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .authBackgroundImg {
      background-image: url('../../assets/images/authImages/backgroundDesktop_2x_min.png');
    }
  }
}
