.imgContainer {
  position: relative;
  width: 130px;
  height: 152px;
  text-align: center;
}

.image {
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}


@media screen and (min-width: 768px) {
  .imgContainer {
    width: 250px;
    height: 288px;
  }
 
}

@media screen and (min-width: 1440px) {
  .imgContainer {
    width: 340px;
    height: 372px;
  }
 
}
