.footerNavigation {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  color: white;
}

@media screen and (min-width: 768px) {
  .footerNavigation {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .footerNavigation {
    flex-wrap: wrap;
    margin-left: 32px;
  }

  .footerNavigation > div:nth-child(1),
  .footerNavigation > div:nth-child(2) {
    flex-basis: 50%;
  }

  .footerNavigation > div:nth-child(3) {
    flex-grow: 1;
  }
}
