.cardContainer {
  position: relative;
  width: 343px;
  height: 323px;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cardContainer:hover {
  transform: scale(1.01);
  box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.32);
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.btnLike {
  position: absolute;
  border: 0;
  background: transparent;

  top: 70px;
  left: 20px;
}
.btnFav {
  position: absolute;
  border: 0;
  background: transparent;

  top: 20px;
  left: 20px;
}
.likeIco {
  width: 40px;
  height: 40px;
}

.favIco {
  width: 40px;
  height: 40px;
}

.textContainer {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0);

  height: auto;

  padding: 16px;
  background-color: var(--whiteColor);
  width: 307px;
  border-radius: 8px;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--mainTextColor);
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--mainTextColor);
  margin: 0;
}

.popularity {
  position: absolute;
  top: 110px;
  left: 40px;
  transform: translateX(-50%);
  color: var(--whiteColor);
}

@media screen and (min-width: 768px) {
  .cardContainer {
    width: 336px;
  }
  .textContainer {
    width: 300px;
  }
}

@media screen and (min-width: 1440px) {
  .cardContainer {
    width: 300px;
  }
  .textContainer {
    width: 268px;
  }
  .likeIco:hover :first-child {
    fill: var(--secondaryGreenColor);
  }
  .favIco:hover :first-child {
    fill: var(--secondaryGreenColor);
  }
}
