.inputTypeFile {
  display: none;
}
.defaultImg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.plusIcon {
  position: absolute;
  bottom: -6px;
  right: 13px;
  z-index: 2;
}
.clearButton {
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  width: 24px;
  height: 24px;
  left: 149px;
  top: 93px;
  z-index: 3;
}
.avatarChanger {
  margin-bottom: 56px;
  position: relative;
}
.avatarChangerLebel {
  position: relative;
  left: 35%;
}
.avatarPrevew {
  position: relative;
  top: 23px;
  width: 88px;
  left: 0;
  height: 88px;
  margin: 0 auto;
  border-radius: 50%;
  display: inline-block;
  background-image: url('../../../../assets/images/UserMenu/userIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--inputBg);
}
.userAvatar {
  height: 88px;
  width: 88px;
  overflow: hidden;
  border-radius: 50%;
}
.fileWarning {
  color: var(--errorColor);
  position: absolute;
  bottom: -34px;
  left: -97px;
  width: 280px;
}
.userModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 358px;
  background: var(--bgColor);
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 32px 24px 60px;
  animation-name: slide-down;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 1339px) {
  .userModal.modalOffset {
    transition: all 0.2s ease;
    top: 20%;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.divButtonClass {
  width: 282px;
  height: 49px;
}
.formInputArea {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  border-radius: 6px;
  background-color: transparent;
  color: var(--secondaryTextColor);
}
.formIinputFormat {
  width: 282px;
  height: 49px;
  margin-bottom: 24px;
}

.formInputUserMenu {
  color: var(--secondaryTextColor) !important;
  width: 100%;
  height: 100%;
  border: 1px solid var(--secondaryTextColor);
  border-radius: 6px;
  outline: none;
  background-color: transparent;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.7;

  transition: all 0.2s ease;
}
.formInputUserMenu:hover,
.formInputUserMenu:focus {
  opacity: 1;
}

.formInputUserMenu::placeholder {
  color: var(--secondaryTextColor);
  font-size: 14px;
}
.formInputUserMenu:hover,
.formInputUserMenu:focus {
  border: 1px solid var(--secondaryTextColor);
}

@media screen and (min-width: 768px) {
  .formInputUserMenu::placeholder {
    font-size: 18px;
  }
  .userAvatar {
    height: 103px;
    width: 103px;
  }
  .avatarPrevew {
    top: 23px;
    width: 103px;
    height: 103px;
  }
  .clearButton {
    left: 206px;
    top: 108px;
  }
  .fileWarning {
    color: var(--errorColor);
    position: absolute;
    bottom: -33px;
    text-align: center;
    left: -84px;
  }
  .avatartPreview {
    width: 103px;
    height: 103px;
  }
  .divButtonClass {
    width: 400px;
    height: 59px;
  }
  .formInputUserMenu {
    padding-left: 51px;
    padding-right: 50px;
    font-size: 18px;
  }
  .userModal {
    width: 480px;
    height: 415px;
    padding: 50px 40px 62px;
  }
  .iconChanger {
    margin-bottom: 49px;
  }
  .formIinputFormat {
    width: 400px;
    height: 59px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .userModal {
    width: 500px;
    height: 445px;
    padding: 60px 50px 80px;
  }
  .iconChanger {
    margin-bottom: 52px;
  }
  .formInputUserMenu {
    padding-left: 51px;
  }
}
