.containerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerThumb {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 115px;
  left: 50%;
  transform: translate(-50%, 0px);
}
@media screen and (min-width: 768px) {
  .containerThumb {
    top: 50px;
    left: 50%;
    transform: translate(-50%, 64px);
  }
}
@media screen and (min-width: 1440px) {
  .containerThumb {
    top: 125px;
    left: 50%;
    transform: translate(-50%, 32px);
  }
}

.dishName {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-feature-settings: 'liga' off;
  color: var(--greenColor);
  margin-bottom: 18px;
  width: 355px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .dishName {
    font-size: 44px;
    line-height: 44px;
    margin-bottom: 24px;
    width: 668px;
  }
}
@media screen and (min-width: 1440px) {
  .dishName {
    width: 940px;
    margin-bottom: 32px;
  }
}

.dishDescription {
  width: 299px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--secondaryTextColorFull);
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .dishDescription {
    width: 506px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .dishDescription {
    /* padding: 0px 14px; */
    margin-bottom: 30px;
    width: 656px;
  }
}

.btn {
  width: 150px;
  height: 35px;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 278px;
    height: 59px;
  }
}
@media screen and (min-width: 1440px) {
  .btn {
    width: 270px;
    height: 59px;
  }
}

.btnTxt {
  font-size: 10px;
  line-height: 15px;
}

.btnTxt button {
  color: var(--secondaryTextColorFull);
}

@media screen and (min-width: 768px) {
  .btnTxt {
    font-size: 16px;
    line-height: 24px;
  }
}

.dishTime {
  position: absolute;
  margin-top: 230px;
  width: 150px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .dishTime {
    width: 278px;
    margin-top: 347px;
  }
}
@media screen and (min-width: 1440px) {
  .dishTime {
    width: 297px;
    position: absolute;
    margin-top: 295px;
  }
}

.time {
  margin-left: 4px;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.24px;
  color: var(--secondaryTextColorFull);
}
@media screen and (min-width: 768px) {
  .time {
    margin-left: 8px;
    font-size: 14px;
    line-height: 20px;
  }
}
