/* border: 1px solid var(--borderInputBgWithOpacity); */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.activeItem {
  color: var(--activeGreenToBlack);
}

.itemList {
  width: 100%;
  text-align: center;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrapperIngredient {
  position: relative;
  width: 198px;
  height: 53px;
  margin-right: 14px;
}

.wrapperAmount {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: baseline;
  min-width: 84px;
  height: 53px;
  border: 1px solid var(--inheritToWhite);
  border-radius: 5px;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 0;
  border: none;
  background-color: inherit;
}

.ingredient,
.amount {
  display: block;
  background-color: var(--inputBgWithOpacity);
  border: none;
  outline: transparent;
  height: 53px;

  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--secondaryTextColor);
}

.amount {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  max-width: 40px;
  padding: 16px 2px 15px 2px;
  text-align: end;
}

.ingredient {
  width: 198px;
  border-radius: 6px;
  padding: 16px 32px 16px 16px;
  border: 1px solid var(--inheritToWhite);
}

.ingredient::placeholder,
.amount::placeholder {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--secondaryTextColor);
  opacity: 0.5;
}

.arrow {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  height: 53px;
  width: 32px;
}

.wrapperUnit {
  flex-shrink: 0;
  background-color: var(--inputBgWithOpacity);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 100%;
  width: 67px;
  cursor: pointer;
}

.selectUnit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 4px;
  padding-left: 2px;
  padding-right: 10px;
}

.wrapperOptionUnit {
  display: block;
  text-align: center;
  width: 100%;
  color: var(--secondaryTextColor);
}

.selectContentUnits,
.selectContentIngredients {
  position: absolute;
  width: 100%;
  top: 100%;
  right: 0;
  z-index: 5;
  overflow-y: auto;
  border-radius: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--selectContentColor);
  background: var(--whiteToGreenColor);
  box-shadow: 0px 6.51852px 7.82222px var(--boxShadow);
}

.selectContentUnits {
  height: 141px;
  padding: 8px 8px;
}

.selectContentIngredients {
  max-height: 154px;
  padding: 8px 18px;
  pointer-events: all;
  cursor: pointer;
}

.wrapperCategory,
.wrapperCookingTime {
  position: relative;
  cursor: pointer;
}

.selectCategory,
.selectTime {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  padding-top: 7px;
  width: 100%;
  height: 100%;
  justify-content: right;
  gap: 13px;
  font-size: 12px;
  line-height: 1;
}

.category {
  cursor: pointer;
}

.selectContentCategory {
  width: 123px;
}

.selectContentTime {
  width: 90px;
}

.selectItem:not(:last-child) {
  margin-bottom: 6px;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--whiteToGreenColor);
  border-radius: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  height: 93px;
  border-radius: 12px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--bgScrolbarColorPrimary);
}

.scrollbarIngredient::-webkit-scrollbar {
  width: 16px;
}

.scrollbarIngredient::-webkit-scrollbar-track {
  background-color: var(--whiteToGreenColor);
  border-radius: 12px;
}

.scrollbarIngredient::-webkit-scrollbar-thumb {
  height: 93px;
  border-radius: 12px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--bgScrolbarColorPrimary);
}

.errorMessage {
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--errorColor);
}

@media screen and (min-width: 768px) {
  .wrapperIngredient {
    width: 398px;
    height: 59px;
    margin-right: 32px;
  }

  .wrapperAmount {
    min-width: 97px;
    height: 59px;
  }

  .ingredient,
  .amount {
    height: 59px;
    font-size: 16px;
  }

  .ingredient::placeholder,
  .amount::placeholder {
    font-size: 16px;
  }

  .ingredient {
    width: 398px;
    padding: 16px 38px 16px 16px;
  }

  .amount {
    max-width: 44px;
  }

  .selectContentUnits {
    height: 166px;
    padding: 12px 10px;
  }

  .selectContentIngredients {
    max-height: 172px;
  }

  .selectContentUnits,
  .selectContentIngredients {
    font-size: 14px;
  }

  .selectUnit {
    gap: 6px;
  }

  .wrapperUnit {
    width: 75px;
  }

  .arrow {
    height: 59px;
    width: 38px;
  }
  .errorMessage {
    bottom: -18px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapperAmount {
    min-width: 99px;
  }

  .selectUnit {
    gap: 12px;
  }

  .wrapperUnit {
    width: 70px;
  }
  .errorMessage {
    bottom: -20px;
  }
}
