.footerForm {
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.formInputArea {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  background-color: transparent;
}
.divButtonClass {
  width: 204px;
  height: 38px;
}
/* .formIinputFormat {
  width: 204px;
  height: 38px;
  margin-bottom: 16px;
} */
.formIinputFormat {
  width: 204px;
  height: 38px;
}
.footerFormFlex {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 204px;
}
.formInputFooterForm {
  opacity: 1;
}
.formInputFooterForm::placeholder {
  font-size: 10px;
  line-height: 1.5;
  text-transform: none;
}
@media screen and (min-width: 768px) {
  .formInputFooterForm::placeholder {
    font-size: 14px;
  }
  .divButtonClass {
    width: 171px;
    height: 50px;
  }
  .footerFormFlex {
    flex-direction: row;
    gap: 12px;
    width: 442px;
  }
  .formIinputFormat {
    width: 259px;
    height: 50px;
  }
  .footerForm {
    width: 440px;
    height: 59px;
    flex-direction: row;
    gap: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .divButtonClass {
    width: 339px;
    height: 60px;
  }
  .footerFormFlex {
    flex-direction: column;
    gap: 16px;
    width: 339px;
  }
  .footerForm {
    width: 339px;
    height: 59px;
    flex-direction: column;
    gap: 12px;
  }
  .formIinputFormat {
    width: 338px;
    height: 59px;
  }
  .formInputFooterForm::placeholder {
    font-size: 18px;
  }
}
