.navMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 182px;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .navMenu {
    padding-top: 186px;
    gap: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .navMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    height: 44px;
    gap: 30px;
  }
}
