.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 114px;
  height: 54px;
  margin-right: 13px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 258px;
    height: 114px;
    margin-right: 15px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 547px;
    height: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 37px;
  }
}

.name {
  color: var(--mainTextColor);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.24px;
}
@media screen and (min-width: 768px) {
  .name {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 18px;
  }
}

.description {
  font-size: 8px;
  line-height: 11px;
  letter-spacing: -0.24px;
  color: var(--secondaryGreyTextColor);
  overflow: hidden;
  height: 36px;
}
@media screen and (min-width: 768px) {
  .description {
    font-size: 12px;
    line-height: 20px;
    height: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .description {
    min-height: 60px;
  }
}
.description:hover {
  overflow: auto;
}
