.textWrapper {
  width: 225px;
  height: 92px;
  border-radius: 8px;
  padding: 8px;
  margin-left: 88px;
  margin-bottom: 115px;
  margin-top: 183px;
  background-color: var(--whiteColor);
}
@media screen and (min-width: 768px) {
  .textWrapper {
    position: absolute;
    padding: 8px;
    width: 260px;
    height: 100px;
    margin: 0;
    right: 27px;
    top: 370px;
  }
}
@media screen and (min-width: 1440px) {
  .textWrapper {
    position: absolute;
    padding: 16px;
    width: 298px;
    height: 114px;
    right: 140px;
    top: 470px;
  }
}
.textCurrent {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.24px;
  color: var(--greenColor);
}
@media screen and (min-width: 1440px) {
  .textCurrent {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.24px;
  }
}

.text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.24px;
  color: var(--mainTextColor);
}
@media screen and (min-width: 1440px) {
  .text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.24px;
  }
}
.linkWrapper {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.24px;
  color: var(--mainTextColor);
}
@media screen and (min-width: 1440px) {
  .linkWrapper {
    padding-left: 190px;
  }
}
