.container {
  position: relative;
  width: 225px;
  height: 92px;
  border-radius: 8px;
  padding: 8px;
  margin-left: 85px;
  margin-bottom: 115px;
  margin-top: 155px;
  background-color: var(--whiteColor);
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: var(--mainTextColor);
}
.arrowContainer {
  display: none;
}
.seeRecipeWrp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.textCurrent {
  color: var(--greenColor);
}
.linkWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.24px;
  color: var(--mainTextColor);
}
@media screen and (min-width: 768px) {
  .container {
    position: absolute;
    padding: 8px;
    width: 260px;
    height: 100px;
    margin: 0;
    right: 40px;
    top: 310px;
    font-size: 14px;
  }
  .arrowContainer {
    display: block;
    position: absolute;
    z-index: -1;
    width: 186px;
    height: 115px;
    left: 45px;
    bottom: -80px;
    background-image: url('../../../assets/images/HeroMain/V2/curlyArrow.png');
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 16px;
    width: 298px;
    height: 114px;
    right: 120px;
    top: 395px;
  }
  .arrowContainer {
    display: block;
    position: absolute;
    width: 190px;
    height: 148px;
    left: 45px;
    bottom: -115px;
    background-image: url('../../../assets/images/HeroMain/V2/curlyArrow-desc.png');
  }
}
