.trashButton {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .trashButton {
    width: 38px;
    height: 38px;
    padding: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .trashButton {
    width: 44px;
    height: 44px;
    padding: 10px;
  }
}

.trashIcon {
  width: 14px;
  height: 14px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .trashIcon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .trashIcon {
    width: 24px;
    height: 24px;
  }
}

.trashButton.lightBcg {
  background-color: var(--ingridientsBcg);
  stroke: var(--secondaryBlackColor);
}
.trashButton.lightBcg:hover,
.trashButton.lightBcg:focus {
  background-color: var(--greenColor);
  stroke: var(--whiteColor);
}

.trashButton.darkBcg {
  background-color: var(--greenColor);
  stroke: var(--whiteColor);
}
.trashButton.darkBcg:hover,
.trashButton.darkBcg:focus {
  background-color: var(--ingridientsBcg);
  stroke: var(--secondaryBlackColor);
}
