.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--ingridientsBcg);
  z-index: 10000;
}
.logoWrapper {
  position: absolute;
  top: 15px;
  left: 15px;
}
