.button {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .button {
    margin-right: 8px;
  }
}

.svg {
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 768px) {
  .svg {
    width: 35px;
    height: 35px;
  }
}
