.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.svg {
  width: 28px;
  height: 28px;
}

.svg path {
  stroke: var(--categoriesForDarkToWhite);
}

@media screen and (min-width: 768px) {
  .svg {
    width: 35px;
    height: 35px;
  }
}
