.previewContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  display: inline;
  margin-bottom: 32px;
}
.image {
  display: inline-block;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item:nth-last-child(-n + 3) {
  display: none;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .buttonContainer {
    padding-top: 40px;
  }
  .title {
    margin-bottom: 40px;
  }

  .item:nth-last-child(-n + 3) {
    display: block;
  }
  .item:nth-last-child(-n + 2) {
    display: none;
  }
  .item:not(:first-child) {
    margin-left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .buttonContainer {
    padding-top: 50px;
  }
  .title {
    margin-bottom: 50px;
  }
  .item:not(:first-child) {
    margin-left: 14px;
  }
  .item {
    display: block;
  }
  .item:nth-last-child(-n + 2) {
    display: block;
  }
}
