.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 343px;
  height: 42px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: var(--greenColor);
  border-radius: 8px;
  margin-bottom: 24px;
  margin-top: -12px;
}

@media screen and (min-width: 768px) {
  .title {
    width: 704px;
    height: 60px;
    padding-right: 32px;
    padding-left: 32px;
    margin-top: 4px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    width: 1240px;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 50px;
  }
}

span {
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--whiteColor);
}
@media screen and (min-width: 768px) {
  span {
    font-size: 18px;
    line-height: 27px;
  }
}

@media screen and (min-width: 1440px) {
  span {
    line-height: 26px;
  }
}

.rightPartText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 115px;
}
@media screen and (min-width: 768px) {
  .rightPartText {
    width: 213px;
  }
}

@media screen and (min-width: 1440px) {
  .rightPartText {
    width: 284px;
  }
}
