.wrapper {
  background-color: var(--greenColor);
  width: 37px;
  height: 23px;
  color: var(--whiteColor);
  font-size: 10px;
  line-height: 15px;
  border-radius: 4px;
  margin-right: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 68px;
    height: 36px;
    margin-right: 78px;
    font-size: 18px;
    line-height: 27px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 68px;
    height: 35px;
    margin-right: 151px;
  }
}
