.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 68px;
  padding-bottom: 115px;
}
.nameWrapper {
  margin-bottom: 14px;
}
.heroNameCurrent {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.005em;
  color: var(--greenColor);
}
.heroName {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.005em;
  color: var(--secondaryTextColor);
}
.heroDescription {
  width: 248px;
  height: 72px;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--secondaryTextColor);
}

@media screen and (min-width: 768px) {
  .container {
    align-items: start;
    padding-top: 140px;
    padding-bottom: 215px;
  }
  .nameWrapper {
    margin-bottom: 24px;
  }
  .heroNameCurrent {
    font-size: 72px;
    line-height: 72px;
  }
  .heroName {
    font-size: 72px;
    line-height: 72px;
  }
  .heroDescription {
    width: 362px;
    height: 54px;
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 32px;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-top: 162px;
    padding-bottom: 265px;
  }
  .nameWrapper {
    margin-bottom: 14px;
  }
  .heroNameCurrent {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 24px;
  }
  .heroName {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 24px;
  }
  .heroDescription {
    width: 465px;
    height: 72px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 50px;
  }
}
