/* 
.heroContainer {
  background-image: url('../../../assets/images/HeroMain/heroMob1x.png');
  position: relative;
  width: 100%;
  height: calc((100vw / 0.82));

  background-size: cover;
  z-index: -1;
  background-position: 50% 0;
  top: -46px;
  left: 0;
  padding-top: 144px;
  padding-bottom: 90px;
  
} */

.heroContainer {
  background-image: url('../../../assets/images/HeroMain/heroMob1x.png');
  position: relative;
  width: 100%;
  height: calc((100vw / 0.82));

  background-size: cover;
  z-index: -1;
  background-position: 50% 0;
  top: -46px;
  left: 0;
  padding-top: 144px;
  padding-bottom: 90px;
  /* transform: translate(0, 50%); */
}
@media screen and (min-width: 768px) {
  .heroContainer {
    background-image: url('../../../assets/images/CheckBoxRecipe/recipeBackgroundTablet.png');
    height: calc((100vw / 1.55));
    padding-top: 136px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .heroContainer {
    background-image: url('../../../assets/images/CheckBoxRecipe/recipeBackgroundDisplay.png');
    height: calc((100vw / 2.92));
    padding-top: 164px;
    padding-bottom: 32px;
  }
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroName {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-feature-settings: 'liga' off;
  color: var(--greenColor);
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .heroName {
    font-size: 44px;
    line-height: 44px;
    margin-bottom: 24px;
  }
}

.heroDescription {
  width: 299px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--secondaryTextColor);
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .heroDescription {
    width: 506px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .heroDescription {
    padding: 0px 14px;
    margin-bottom: 30px;
  }
}
