.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('./pie-in-the-face-getty.png');
  backdrop-filter: blur(5px);
  z-index: 90;
}
.wrapper {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;

  border-radius: 30px;
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 10px var(--boxShadow);
  animation: fadeIn 0.25s ease-out;
  z-index: 100;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.image {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 110;
}
.blur {
  position: absolute;
  bottom: 18px;
  right: 50px;
  width: 200px;
  height: 180px;
  z-index: 120;
}
.text {
  position: absolute;
  width: 164px;
  height: 96px;
  right: 68px;
  top: 120px;
  text-align: left;
  z-index: 130;
  color: var(--whiteColor);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.text span {
  color: var(--greenColor);
}

.closeButton {
  position: absolute;
  bottom: 30px;
  right: 130px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--greenColor);
  color: var(--whiteColor);
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 140;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
  }
  .closeButton {
    bottom: 38px;
    right: 176px;
    width: 48px;
    height: 48px;
  }
  .blur {
    bottom: 24px;
    right: 66px;
    width: 268px;
    height: 242px;
  }
  .text {
    top: 140px;
    right: 90px;
    width: 220px;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
  }
  .closeButton {
    bottom: 54px;
    right: 226px;
    width: 48px;
    height: 48px;
  }
  .blur {
    bottom: 40px;
    right: 116px;
    width: 268px;
    height: 242px;
  }
  .text {
    top: 225px;
    right: 140px;
    width: 220px;
    height: 120px;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.07;
  }
}
