.container {
  margin: auto;
  padding: 16px;
  padding-top: 32px;
  padding-bottom: 0px;
  background-color: var(--whiteColor);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px;
    padding-top: 50px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 0px;
  }
}
