.subscribeForm {
  width: 204px;
  height: 84px;
  background-color: olive;
}

@media only screen and (min-width: 768px) {
  .subscribeForm {
    width: 442px;
    height: 50px;
    margin-left: 200px;
    margin-right: 200px;
  }
}

.navRight h3 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.navRight p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
}

@media only screen and (max-width: 1439px) {
  .navRight h3,
  .navRight p {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .navRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
    max-width: 338px;
    margin-left: 235px;

    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  .subscribeForm {
    margin: 0;
    width: 100%;
    height: 135px;
  }
}
