.navCentre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.navCentre a.active {
  color: var(--greenColor);
}

.navCentre a:hover {
  cursor: url('../../../../assets/images/Cursors/cursor.cur'), default;
  color: var(--activeFooterLink);
}

.navCentre > :not(:last-child) {
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .navCentre > :not(:last-child) {
    margin-bottom: 24px;
  }
}
