.normalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--greenColor);
  color: var(--borderColor);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.normalButton:disabled {
  background-color: var(--secondaryGreyTextColorTransparent);
  color: var(--bgColor);
  cursor: not-allowed;
}
.normalButton:focus,
.normalButton:hover {
  outline: none;
  color: var(--blackColor);
}

.funButton {
  clip-path: inset(25% 0 25% 0 round 15% 35% 15% 30%);
}
