.title {
  margin-top: 96px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  font-feature-settings: 'liga' off;
  color: var(--titleColor);
}
@media screen and (min-width: 768px) {
  .title {
    margin-top: 136px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .title {
    margin-top: 164px;
    font-size: 44px;
  }
}

.shoppingItemList:last-child {
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .shoppingItemList:last-child {
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1440px) {
  .shoppingItemList:last-child {
    padding-bottom: 195px;
  }
}
.shoppingItemList:not(:last-child) {
  margin-bottom: 24px;
}

.emptyShoppingList {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .emptyShoppingList {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .emptyShoppingList {
    margin-top: 100px;
  }
}

.emptyShoppingListImg {
  width: 208px;
  height: 133px;
  margin: auto;
  background-image: url('../../assets/images/SearchBackground/noRecipesImg.png');
  background-size: contain;
  margin-bottom: 33px;
}
@media screen and (min-width: 768px) {
  .emptyShoppingListImg {
    margin-bottom: 43px;
    width: 350px;
    height: 225px;
  }
}
@media screen and (min-width: 1440px) {
  .emptyShoppingListImg {
    margin-bottom: 70px;
  }
}

.emptyShoppingListText {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 101px;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .emptyShoppingListText {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .emptyShoppingListText {
    font-size: 24px;
  }
}
