.pageNumbers {
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    list-style: none;
    display: flex;
    border-radius: 30px;
    background-color: var(--whiteColor);
    box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.2);
}

.pageNumbers li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    margin: 8px;
    color: var(--secondaryLineColor);
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
}

.pageNumbers li.active {
    background-image: url('../../../assets/images/BtnLeftRight/32405spaghetti_98887.svg');
    margin: auto;
    height: 31px;
    width: 31px;
    background-size: contain;
    color: var(--secondaryBlackColor);
    font-weight: 500;
    font-size: 18px;
  
}


.pageNumbers div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    margin: 8px;
    color: var(--secondaryLineColor);
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.btnRightLeft {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.pageNumbers li:hover,
.pageNumbers li:focus,
.pageNumbers div:hover,
.pageNumbers div:focus {
    color: var(--secondaryBlackColor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pageNumbers li.btnThreePoint {
    display: none;
}

.btnSVG {
    width: 16px;
    height: 16px;
}


@media screen and (min-width: 768px) {

.pageNumbers div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    margin: 14px;
    color: var(--secondaryLineColor);
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    border-radius: 50%;
    cursor: pointer;

}

.pageNumbers li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    margin: 14px;
    color: var(--secondaryLineColor);
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
}

.pageNumbers li.btnThreePoint {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    margin: 14px;
    color: var(--secondaryLineColor);
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    border-radius: 50%;
    cursor: pointer;
}

    .pageNumbers li.active {
        background-image: url('../../../assets/images/BtnLeftRight/32405spaghetti_98887.svg');
        margin: auto;
        font-weight: 500;
        font-size: 24px;
        height: 55px;
        width: 55px;
        background-size: contain;
        color: var(--secondaryBlackColor);
    }
        .btnSVG {
            width: 28px;
            height: 28px;
        }
        .btnSVG:hover,
        .btnSVG:focus {
            scale: 1.2;
            transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
