.wrapper {
  display: none;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.24px;
  color: var(--mainTextColor);
  margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    display: block;
    margin-bottom: 100px;
  }
}

.wrapper a svg > path {
  fill: var(--followUsSvg);
}
.wrapper a:hover svg > path {
  fill: var(--followUsSvgHover);
}
.wrapper a svg:hover > path {
  fill: var(--followUsSvgHover);
}
.wrapper a svg > path:hover {
  fill: var(--followUsSvgHover);
}
