.header {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding-top: 18px;
}
@media screen and (min-width: 1440px) {
  .header {
    padding-top: 0;
  }
}
.wrapperLogo {
  top: 15px;
  left: 15px;
}
@media screen and (min-width: 1440px) {
  .wrapperLogo {
    margin-right: 187px;
  }
}
