.flexContainer {
  margin-top: 72px;
}
.wrapperAddPage {
  padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .flexContainer {
    margin-top: 100px;
  }
  .wrapperAddPage {
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .flexContainer {
    display: flex;
    gap: 102px;
  }
}
