.activeItem {
  color: var(--greenColor);
}

.wrapperInfo {
  margin-bottom: 104px;
}

.nameRecipe,
.description,
.category,
.cookingTime {
  display: block;
  width: 100%;
  height: 40px;
  border: transparent;
  background-color: inherit;
  border-bottom: 1px solid var(--lineColor);
  padding-bottom: 18px;
  outline: transparent;

  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--blackColor);
}

.nameRecipe::placeholder,
.description::placeholder,
.category::placeholder,
.cookingTime::placeholder {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--blackColor);
  opacity: 0.5;
}

.wrapperErrMessDescr,
.wrapperErrMessTitle,
.wrapperCategory {
  margin-bottom: 24px;
}

.wrapperOption {
  display: inline-flex;
  align-items: center;
  height: 19px;
}

.selectCategory,
.selectTime {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  padding-top: 3px;
  width: 100%;
  height: 100%;
  justify-content: right;
  gap: 13px;
  font-size: 12px;
  line-height: 1;
}

.wrapperCategory,
.wrapperCookingTime {
  position: relative;
  cursor: pointer;
}

.category {
  cursor: pointer;
}

.selectContentCategory,
.selectContentTime {
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 5;
  height: 144px;
  padding: 8px 14px;
  overflow-y: auto;
  border-radius: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--selectContentColor);
  background: var(--whiteColor);
  box-shadow: 0px 6.51852px 7.82222px var(--boxShadow);
}

.selectContentCategory {
  width: 123px;
}

.selectContentTime {
  width: 90px;
}

@media screen and (min-width: 768px) {
  .wrapperInfo {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 104px;
  }
  .selectCategory,
  .selectTime,
  .selectContentCategory,
  .selectContentTime {
    font-size: 14px;
  }

  .selectContentCategory,
  .selectContentTime {
    height: 162px;
  }

  .nameRecipe,
  .description,
  .category,
  .cookingTime {
    font-size: 16px;
    width: 393px;
    height: 43px;
  }

  .nameRecipe::placeholder,
  .description::placeholder,
  .category::placeholder,
  .cookingTime::placeholder {
    font-size: 16px;
  }

  .wrapperErrMessDescr,
  .wrapperErrMessTitle,
  .wrapperCategory {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapperInfo {
    gap: 50px;
    margin-bottom: 104px;
  }

  .wrapperErrMessDescr,
  .wrapperErrMessTitle,
  .wrapperCategory {
    margin-bottom: 40px;
  }
}

.selectItem:not(:last-child) {
  margin-bottom: 4px;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--whiteColor);
  border-radius: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  height: 93px;
  border-radius: 12px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--bgScrolbarColorPrimary);
}

.wrapperErrMessDescr,
.wrapperErrMessTitle {
  position: relative;
}

.errorMessageImg,
.errorMessage {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--errorColor);
}

.errorMessageImg {
  margin-top: 5px;
}

.errorMessage {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -18px;
}

@media screen and (max-width: 767px) {
  .wrapperImgForError {
    margin-bottom: 32px;
  }
  .errorMessageImg {
    text-align: center;
  }
}
