.footer {
  background-color: var(--secondaryBlackColor);
  position: relative;
}

.navCentre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-right: 235px;
}

.navRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;

  max-width: 338px;
}

.button {
  width: 339px;
  height: 60px;
}

.SocialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.SocialLinks > *:not(:last-child) {
  margin-right: 14px;
}

.downText {
  position: relative;
  height: 114px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/images/Footer/footer\ bgi.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 438px 474px;
}

.downText > span:first-of-type {
  margin-right: 40px;
}
