.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(85, 83, 83, 0.8);
}

.modal {
  position: relative;
  padding: 20px;
  background-color: #fff;
}
