.wrapperIngredientsFields {
  margin-bottom: 44px;
}
.wrapperTitle {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.wrapperButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  border: 1px solid var(--countBorder);
  border-radius: 18px;
  overflow: hidden;
}

.btnDecrease,
.btnIncrease {
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
}

.btnDecrease {
  padding: 7px 10px 7px 14px;
}

.btnIncrease {
  padding: 7px 14px 7px 10px;
}

.btnDecrease svg path {
  stroke: var(--countBorder);
}

.btnDecrease:disabled,
.btnIncrease:disabled {
  color: var(--bgColor);
  cursor: not-allowed;
}

.amountIngredientrs {
  min-width: 16px;
  padding: 6px 3px;
  text-align: center;
  color: var(--secondaryTextColor);
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--mainTextColor);
}

.itemIngridient:not(:last-child) {
  margin-bottom: 18px;
}

.wrapperTextErorr {
  position: relative;
}

@media screen and (min-width: 768px) {
  .wrapperIngredientsFields {
    margin-bottom: 100px;
  }

  .wrapperTitle {
    margin-bottom: 36px;
  }

  .wrapperButtons {
    height: 32px;
  }

  .amountIngredientrs {
    min-width: 20px;
    padding: 4px 3px;
    text-align: center;
  }

  .btnDecrease {
    padding: 8px 10px 8px 15px;
  }

  .btnIncrease {
    padding: 8px 15px 8px 10px;
  }

  .itemIngridient:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapperIngredientsFields {
    width: 609px;
  }
}

.errorMessage {
  position: absolute;
  top: 140%;
  left: 0;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--errorColor);
}

.textNotifyToDark {
  color: var(--secondaryTextColor);
}
