.common {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-top-left-radius: 18px 18px;
  border-bottom-left-radius: 44px 44px;
  border-bottom-right-radius: 18px 18px;
  border-top-right-radius: 44px 44px;
  background-color: var(--greenColor);
  color: var(--whiteColor);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.common:hover {
  background-color: var(--secondaryBlackColor);
}

.lnk {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
}

.outlined {
  border: 2px solid var(--greenColor);
  color: var(--secondaryBlackColor);
  background-color: transparent;
}

.outlined:hover {
  color: var(--whiteColor);
  background-color: var(--greenColor);
}

.outlinedInverted {
  border: 2px solid var(--whiteColor);
  background-color: transparent;
}

.outlinedInverted:hover {
  border: 2px solid var(--greenColor);
  color: var(--greenColor);
  background-color: transparent;
}

.dark {
  background-color: var(--secondaryBlackColor);
}

.dark:hover {
  background-color: var(--greenColor);
}
