/* .searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
} */
.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.searchList {
  margin-bottom: 40px;
}
.searchItem:not(:last-child) {
  margin-bottom: 30px;
}
.noRecipesImg {
  width: 208px;
  height: 133px;
  margin: auto;
  background-image: url('../../assets/images/SearchBackground/noRecipesImg.png');
  background-size: contain;
  margin-bottom: 33px;
}
.noRecipesText {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 101px;
  opacity: 0.5;
}
.paginationWrp {
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  /* .searchContainer {
    margin-top: 40px;
  } */

  .searchList {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 35px;
  }
  .searchItem {
    margin: 15px;
  }
  .searchItem:not(:last-child) {
    margin-bottom: 15px;
  }
  .searchWrapper {
    margin-top: 40px;
    margin-bottom: 45px;
  }
  .noRecipesImg {
    width: 350px;
    height: 225px;
    margin-bottom: 33px;
  }
  .noRecipesText {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin-bottom: 200px;
    color: var(--secondaryTextColor);
  }
}
.paginationWrp {
  padding-bottom: 200px;
}
@media screen and (min-width: 1440px) {
  .searchList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
  }
  .searchItem {
    margin: 50px 7px;
  }
  .searchItem:not(:last-child) {
    margin-bottom: 50px;
  }
  .searchWrapper {
    margin-bottom: 70px;
  }
}
