/* .titleText {
  margin-bottom: 50px;
} */
/* .imageWrapper {
  width: 100%;
  height: 192px;
  background-image: url('../../assets/images/SearchBackground/image1green.png'),
    url('../../assets/images/SearchBackground/image1black.png'),
    url('../../assets/images/SearchBackground/image2green.png');
  background-repeat: no-repeat;
  background-size: 10px 10px, 7px 7px, 10px 10px;
  background-position: left 104px top 15px, left 220px top 80px,
    left 328px top 50px;
}
@media screen and (min-width: 768px) {
  .imageWrapper {
  }
} */
.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .searchContainer {
    margin-top: 40px;
  }
}

.searchList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 200px;
}

.searchItem {
  margin-bottom: 100px;
  margin-right: 12px;
  flex-basis: calc((100% - 42px) / 4);
}

.searchItem:nth-child(4n + 4) {
  margin-right: 0;
}

.searchItem:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
