.dish {
  width: calc(375px - 32px);
  min-width: 343px;
  padding: 14px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background-color: var(--whiteColor);
}

.dish:not(:last-child) {
  margin-bottom: 18px;
}

.dish:first-child {
  margin-top: 50px;
}

.dish:last-child {
  margin-bottom: 40px;
}

.dishImg {
  height: 124px;
  width: 124px;
  border-radius: 8px;
}

.trashLogo {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.dishTitle {
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  margin: 0;
  vertical-align: top;
  text-align: left;
}

.dishDiscriptionFirst,
.dishDiscriptionSecond {
  margin: 0;
  text-align: left;
  line-height: 1.3;
}

.dishDiscriptionFirst {
  width: 173px;
  height: 57px;
  font-size: 8px;
  line-height: 1.25;
}
.dishDiscriptionSecond {
  display: none;
}

.dishTime {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4;
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.dishButton {
  display: none;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.cardWrapper {
  width: 179px;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  position: relative;
}

.bottomWrapper {
  display: flex;
  align-items: flex-end;
  flex-grow: 2;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .dish {
    width: calc(768px - 64px);
    padding: 28px 24px;
  }
  .dish:not(:last-child) {
    margin-bottom: 40px;
  }
  .dish:first-child {
    margin-top: 100px;
  }
  .dish:last-child {
    margin-bottom: 50px;
  }
  .dishImg {
    height: 232px;
    width: 228px;
  }
  .trashLogo {
    margin-bottom: 18px;
    height: 38px;
    width: 38px;
    position: unset;
  }
  .dishTitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
  }
  .dishDiscriptionFirst {
    width: 298px;
    height: 73px;
    margin-bottom: 58px;
    overflow: hidden;
    line-height: 1.28;
    font-size: 14px;
  }
  .dishDiscriptionSecond {
    display: none;
  }
  .dishButton {
    width: 138px;
    height: 45px;
    display: block;
  }
  .dishTime {
    font-size: 14px;
    line-height: 1.42;
  }
  .cardWrapper {
    width: 656px;
    margin-left: 24px;
    position: unset;
  }
  .titleWrapper {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .dish {
    width: calc(1440px - 200px);
    padding: 40px;
    margin-bottom: 50px;
  }
  .dishImg {
    height: 324px;
    width: 318px;
  }
  .dishTitle {
    margin-bottom: 50px;
  }
  .trashLogo {
    margin-bottom: 30px;
    height: 44px;
    width: 44px;
  }
  .dishDiscriptionFirst,
  .dishDiscriptionSecond {
    font-size: 18px;
    line-height: 1.33;
    display: block;
    width: 679px;
  }
  .dishDiscriptionFirst {
    margin-bottom: 14px;
  }
  .dishButton {
    width: 160px;
    height: 54px;
    display: block;
  }
  .cardWrapper {
    width: 802px;
    margin-left: 40px;
  }
}
