.container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  padding-right: 60px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 170%;
}

@media screen and (min-width: 768px) {
  .container {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    margin-right: 50px;
  }
}
