.previewContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  padding-top: 32px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--titleColor);
}
.title:hover {
  transform: scale(1.01);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--greenColor);
}

.image {
  display: inline-block;
}

.list {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:nth-last-child(-n + 3) {
  display: none;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
  width: 375px;
}

.buttonClass {
  width: 94px;
  height: 36px;
}

@media screen and (min-width: 768px) {
  .buttonContainer {
    padding-top: 40px;
    width: 768px;
  }
  .title {
    font-size: 44px;
    padding-top: 50px;
  }
  .item:nth-last-child(-n + 3) {
    display: block;
  }
  .item:nth-last-child(-n + 2) {
    display: none;
  }
  .item:not(:first-child) {
    margin-left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .buttonContainer {
    padding-top: 50px;
    width: 1440px;
  }
  .title {
    font-size: 44px;
    padding-top: 100px;
  }
  .item:not(:first-child) {
    margin-left: 14px;
  }
  .item {
    display: block;
  }
  .item:nth-last-child(-n + 2) {
    display: block;
  }
}
