.navLink {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: var(--secondaryTextColor);
}
.navLink:hover {
  color: var(--greenColor);
}
@media screen and (min-width: 768px) {
  .navLink {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .navLink {
    font-size: 14px;
    line-height: 22px;
  }
}

.navLink.recipePageColor {
  color: var(--blackColor);
}
