.navLink {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: var(--secondaryBlackColor);
}
.navLink:hover {
  color: var(--greenColor);
}
