/* .nothingAddImg {
  width: 800px;
  margin: 0 auto;
  mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
    );

  mask-composite: intersect;
  -webkit-mask-composite: source-in;
} */
.container {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 343px;
  width: 320px;
  margin-top: 29px;
  background-image: url('../../../assets/images/FavoriteImg/default-min.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 8px 8px white inset,
    -10px 10px 7px -5px rgba(255, 255, 255, 1);
}
.container p {
  color: white;
  font-size: 18px;
  opacity: 0.9;
  text-shadow: 1px 1px 6px black, 0 0 1em black, 0 0 0.2em black;
}
.container .alertPartTwo {
  color: whitesmoke;
  font-size: 14px;
  opacity: 0.9;
  text-shadow: 1px 1px 6px black, 0 0 1em black, 0 0 0.2em black;
}

@media screen and (min-width: 768px) {
  /* .nothingAddImg {
    width: 500px;
  } */
  .container {
    max-width: 768px;
    width: 704px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 110px;
    margin-top: 29px;
    padding-bottom: 130px;
    margin-bottom: 105px;
    box-shadow: 0 0 8px 8px white inset,
      -10px 10px 10px -5px rgba(255, 255, 255, 1);
  }
  .container .alertPartTwo {
    margin-top: 20px;
    font-size: 28px;
  }
  .container p {
    font-size: 32px;
  }
}
@media screen and (min-width: 1440px) {
  /* .nothingAddImg {
    width: 1000px;
  } */
  .container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 130px;
    padding-top: 130px;
    margin-top: 50px;
    margin-bottom: 290px;
    width: 1240px;
    height: 405px;
  }
}
