.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.24px;
  color: var(--mainTextColor);
  margin-bottom: 32px;
}

.list {
  width: 343px;
}

.item {
  position: relative;
}

.itemLink {
  display: flex;
  height: 98px;
  gap: 12px;
}

.item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;

  opacity: 0.17;
  border: 1px solid var(--secondaryLineColor);
}

.imgWrapper {
  width: 104px;
  height: 85px;
  border-radius: 8px;
  overflow: hidden;
}

.textWrapper {
  width: 213px;
  padding-bottom: 20px;
}

.itemTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.24px;
  color: var(--mainTextColor);
  margin-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.24px;
  color: var(--secondaryGreyTextColor);
}

@media screen and (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 40px;
  }

  .textWrapper {
    width: 209px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 704px;
    gap: 37px;
  }
  .item:nth-last-child(-n + 2) {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .item:not(:last-child) {
    margin-bottom: 24px;
  }

  .wrapper,
  .list {
    width: 319px;
  }

  .imgWrapper {
    width: 97px;
  }
  .textWrapper {
    width: 198px;
  }
}
