.Time {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: var(--mainTextColor);
 
}

@media screen and (min-width: 768px) {
  .Time {
    font-size: 14px;
      line-height: 20px;
      
  }
}

@media screen and (min-width: 1440px) {
  .Time {
    font-size: 14px;
      line-height: 20px;
     
  }
}
