.formInputArea {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  background-color: var(--modalBg);
}
.registrForm {
  max-width: 335px;
  background: var(--modalBg);
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 32px 28px 20px 28px;
  position: relative;
  top: -28px;
}
.registrFormatting {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registrationTitleFormat {
  margin-bottom: 18px;
  position: relative;
}
.formIinputFormat:not(:last-child) {
  margin-bottom: 15px;
}
.formFromat {
  margin-bottom: 35px;
}
.formIinputFormat {
  width: 285px;
  height: 45px;
}

.divButtonClass {
  width: 279px;
  height: 45px;
}
.registrFormatting {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
}
.unlockButtonSignIn {
  left: 38px;
  top: 151px;
}
.linkBox {
  position: relative;
}
.signUpLinkReset {
  bottom: -85px;
}
.signInLink {
  bottom: -52px;
}
@media screen and (min-width: 768px) {
  .unlockButtonSignIn {
    left: 67px;
    top: 202px;
  }
  .divButtonClass {
    width: 400px;
    height: 59px;
  }
  .formIinputFormat {
    width: 400px;
    height: 59px;
  }

  .registrForm {
    max-width: 500px;
    padding: 44px 50px 10px;
    top: -12px;
  }
  .registrationTitleFormat {
    margin-bottom: 32px;
  }
  .formIinputFormat:not(:last-child) {
    margin-bottom: 24px;
  }
  .formFromat {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .registrFormatting {
    gap: 115px;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 21vh;
  }

  .registrForm {
    top: 40px;
  }
}
