.wrapper {
  position: relative;

  border: 1px solid var(--borderColorHalf);
  width: 295px;
  height: 53px;
  border-top-left-radius: 18px 18px;
  border-bottom-left-radius: 44px 44px;
  border-bottom-right-radius: 18px 18px;
  border-top-right-radius: 44px 44px;
  background-color: var(--WhiteToInherit);
}
.input {
  font-size: 12px;
  line-height: 1.5;
  padding: 0 20px;
  outline: none;
  width: 100%;
  height: 100%;
  border: none;

  background-color: transparent;
  color: var(--mainTextColor);
}
.buttonWrapper {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 113px;
  height: 53px;
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 362px;
    height: 57px;
  }
  .buttonWrapper {
    width: 161px;
    height: 57px;
    font-size: 16px;
    line-height: 24px;
  }
  .input {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 510px;
    height: 71px;
  }
  .buttonWrapper {
    width: 161px;
    height: 71px;
  }
}
