.text {
    display: block;
    /* max-width: 806px; */
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: -0.02em;
    color: var(--secondaryTextColor);
        
}

@media screen and (min-width: 768px) {
    .text {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 14px;
    }
}

@media screen and (min-width: 1440px) {
    .text {
        font-size: 18px;
            line-height: 24px;
            
    }
}