.form__area {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  width: 280px;
  background-color: var(--modalBg);
}
.form__icon {
  position: absolute;
  top: 16px;
  left: 18px;
  stroke: var(--whiteColor);
  opacity: 0.8;
}
.form__stateIcon {
  position: absolute;
  top: 20px;
  right: 18px;
}
.form__input {
  color: var(--whiteColor);
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0.8;
  border-radius: 6px;
  outline: none;
  background-color: transparent;
  padding-left: 50px;
  font-size: 14px;
  line-height: 1.5;
}
.form__input:hover,
.form__input:focus {
  border: 1px solid var(--whiteColor);
  opacity: 1;
}
.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  opacity: 1;
  color: var(--whiteColor);
}

/* .form__input:valid + .form__icon * {
  stroke: var(--successColor);
} */
.form__input:invalid + .form__icon * {
  stroke: var(--errorColor);
}
.form__input::placeholder {
  color: var(--whiteColor);
  text-transform: capitalize;
  opacity: 0.8;
}
/* .form__input:valid {
  color: var(--successColor);
  border: 1px solid var(--successColor);
} */
.form__input:invalid {
  border: 1px solid var(--errorColor);
}
@media screen and (min-width: 768px) {
  .form__area {
    width: 400px;
  }
  .form__input {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .form__area {
    width: 500px;
  }
}

input[type='password']::-webkit-outer-spin-button,
input[type='password']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='password']::after {
  content: '\25CF\25CF\25CF\25CF';
  position: absolute;
  display: inline-block;
  width: 100%;
  text-align: left;
  color: var(--whiteColor);
  color: red;
  letter-spacing: 4px;
}
