.formArea {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  background-color: var(--modalBg);
}
.formIcon {
  position: absolute;
  top: 13.5px;
  left: 14px;
  stroke: var(--whiteColor);
  opacity: 0.8;
  width: 18px;
  height: 18px;
}
.formStateIcon {
  position: absolute;
  top: 12.5px;
  right: 18px;
}
.formInput {
  color: var(--whiteColor);
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0.8;
  border-radius: 6px;
  outline: none;
  background-color: transparent;
  padding-left: 40px;
  font-size: 14px;
  line-height: 1.5;
}
.formInput:hover,
.formInput:focus {
  border: 1px solid var(--whiteColor);
  opacity: 1;
}
.formInput:hover + .formIcon,
.formInput:focus + .formIcon {
  opacity: 1;
  color: var(--whiteColor);
}

.formInputValid + .formIcon * {
  stroke: var(--successColor);
}
.formInputInvalid + .formIcon * {
  stroke: var(--errorColor);
}
.formInput::placeholder {
  color: var(--whiteColor);
  text-transform: capitalize;
  opacity: 0.8;
}
.formInputValid {
  color: var(--successColor);
  border: 1px solid var(--successColor);
}
.formInputInvalid {
  border: 1px solid var(--errorColor);
}
.formInputInvalid:hover,
.formInputInvalid:focus {
  border: 1px solid var(--errorColor);
}
.formInputValid:hover,
.formInputValid:focus {
  border: 1px solid var(--successColor);
}
.formInputInsecure {
  border: 1px solid var(--warningColor);
}
.formInputInsecure:hover,
.formInputInsecure:focus {
  border: 1px solid var(--warningColor);
}
@media screen and (min-width: 768px) {
  .formArea {
    width: 400px;
  }
  .formInput {
    font-size: 18px;
    padding-left: 50px;
  }
  .formIcon {
    top: 16px;
    left: 18px;
    width: 24px;
    height: 24px;
  }
  .formStateIcon {
    top: 20px;
  }
}
.clearButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* @media screen and (min-width: 1440px) {

} */

input[type='password']::-webkit-outer-spin-button,
input[type='password']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='password']::after {
  content: '\25CF\25CF\25CF\25CF';
  position: absolute;
  display: inline-block;
  width: 100%;
  text-align: left;
  color: var(--whiteColor);
  color: red;
  letter-spacing: 4px;
}
