.formIcon {
  position: absolute;
  top: 28%;
  left: 14px;
  stroke: var(--whiteColor);
  opacity: 0.8;
  width: 18px;
  height: 18px;
}
.formStateIcon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translate(0, -50%);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  /* transition: background-color 200ms linear, transform 300ms ease-in-out; */
}
/* .formStateIcon:active {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px 1px #ff6b08;
  transform: rotate(180deg);
} */
.formInput {
  color: var(--whiteColor);
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0.8;
  border-radius: 6px;
  outline: none;
  background-color: transparent;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 1.5;
  transition: all 0.2s ease;
}
.formInput:hover,
.formInput:focus {
  border: 1px solid var(--whiteColor);
  opacity: 1;
}
.formInput:hover + .formIcon,
.formInput:focus + .formIcon {
  opacity: 1;
  color: var(--whiteColor);
}

.formInputValid + .formIcon * {
  stroke: var(--successColor);
}
.formInputInvalid + .formIcon * {
  stroke: var(--errorColor);
}
.formInput::placeholder {
  color: var(--whiteColor);
  text-transform: capitalize;
  opacity: 0.8;
}
.formInputValid {
  color: var(--successColor);
  border: 1px solid var(--successColor);
}
.formInputValid::placeholder {
  color: var(--successColor);
}
.formInputInvalid {
  color: var(--errorColor);
  border: 1px solid var(--errorColor);
}
.formInputInvalid:hover,
.formInputInvalid:focus {
  border: 1px solid var(--errorColor);
}
.formInputValid:hover,
.formInputValid:focus {
  border: 1px solid var(--successColor);
}
.formInputInsecure {
  border: 1px solid var(--warningColor);
}
.formInputInsecure:hover,
.formInputInsecure:focus {
  border: 1px solid var(--warningColor);
}

.formInputUsername {
  border: 1px solid var(--secondaryTextColor);
}

@media screen and (min-width: 768px) {
  /* .formStateIcon:hover {
    box-shadow: 0 0 20px 1px #ff6b08;
    transform: rotate(180deg);
  } */
  .formStateIcon:active {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .formArea {
    width: 400px;
  }
  .formInput {
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .formIcon {
    top: 28%;
    left: 5%;
    width: 24px;
    height: 24px;
  }
}
.clearButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* @media screen and (min-width: 1440px) {

} */

input[type='password']::-webkit-outer-spin-button,
input[type='password']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='password']::after {
  content: '\25CF\25CF\25CF\25CF';
  position: absolute;
  display: inline-block;
  width: 100%;
  text-align: left;
  color: var(--whiteColor);
  color: red;
  letter-spacing: 4px;
}
