.smallEror {
  color: var(--errorColor);
  font-size: 10px;
  line-height: 1.7;
  position: relative;
  top: -3px;
}
.smallSucsess {
  color: var(--successColor);
  font-size: 10px;
  line-height: 1.7;
  position: relative;
  top: -3px;
  left: 5px;
}

@media screen and (min-width: 768px) {
  .smallSucsess {
    font-size: 14px;
    top: 5px;
  }
  .smallErorr {
    color: var(--successColor);
    font-size: 14px;
    position: relative;
    top: 5px;
  }
}
