.authLinkTo {
  color: var(--bgColor);
  font-size: 16px;
  line-height: 1.5;
  position: absolute;
  text-decoration: underline;
  transition: color 500ms ease;
  width: 300px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
}
.authLinkTo:hover,
.authLinkTo:focus {
  color: var(--greenColor);
}

@media screen and (min-width: 768px) {
  .authLinkTo {
    color: var(--bgColor);
    font-size: 16px;
    line-height: 1.5;
    position: absolute;
    transform: translate(-50%, 0);
    text-decoration: underline;
  }
}
