.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.input:checked {
  transform: translateX(30px);
}
.input:checked ~ label {
  background-color: var(--greenColor);
}
.label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  gap: 10px;
  width: 61px;
  height: 28px;
  background-color: var(--greyBgColor);
  box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;
}
.span {
  position: absolute;
  width: 21px;
  height: 21px;
  background: linear-gradient(180deg, #ffffff 0%, #e8eaea 100%);
  border-radius: 50%;
  filter: drop-shadow(2px 1px 6px rgba(0, 0, 0, 0.25));
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:checked ~ label span {
  transform: translateX(30px);
}

body.themeDark {
  --bgColor: rgba(0, 0, 0, 0.8);
  --titleColor: #fafafa;
  --secondaryBlackColor: #8aa936;
}

body.themeDark .downText {
  --secondaryBlackColor: #fff;
}

body {
  transition: 1s;
}
