.container {
  position: absolute;
  left: 16px;
  bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.input:checked {
  transform: translateX(30px);
}
.input:checked ~ label {
  background-color: var(--greenColor);
}
.label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  gap: 10px;
  width: 61px;
  height: 28px;
  background-color: var(--greyBgColor);
  box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;
}
.span {
  position: absolute;
  width: 21px;
  height: 21px;
  background: linear-gradient(180deg, #ffffff 0%, #e8eaea 100%);
  border-radius: 50%;
  filter: drop-shadow(2px 1px 6px rgba(0, 0, 0, 0.25));
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:checked ~ label span {
  transform: translateX(30px);
}

body.themeDark {
  --bgColor: var(--linksHoverColor);
  --titleColor: #fafafa;
  --secondaryTextColor: var(--whiteColor);
  --secondaryBlackColor: var(--greenColor);
  --textColorForModal: var(--whiteColor);
  --bgColorForModal: var(--bgColor);
  --bgColoForFootrBtn: var(--linksHoverColor);
  --BgRecipeCard: var(--modalBg);
  --ingridientsBcg2: var(--modalBg);
  --mainTextColor: var(--whiteColor);
  --blackColor2: var(--whiteColor);
  --whiteToGreenColor: var(--greenColor);
  --countBorderToWhite: var(--whiteColor);
  --inputBgWithOpacity: 'inherit';
  --inheritToWhite: var(--whiteColor);
  --WhiteToInherit: 'inherit';
  --categoriesForDarkToWhite: rgba(255, 255, 255, 0.6);
  --recipeText: var(--whiteColor);
  --activeFooterLink: var(--blackColor);
  --borderColorHalf: rgba(255, 255, 255, 0.5);
  --borderInputBgWithOpacity: rgba(255, 255, 255, 0.2);
  --countBorder: var(--whiteColor);
  --secondaryGreyTextColorSix: rgba(255, 255, 255, 0.6);
  --lineColorDescription: rgba(255, 255, 255, 0.3);
  --blackColorOpacity: #fff;
  --bgScrolbarColorPrimary: #000;
  --selectContentColor: #fff;
  --activeGreenToBlack: #000;
  --secondaryTextColorForText: rgba(255, 255, 255, 0.6);
  --followUsSvg: #ffffff;
  --followUsSvgHover: #8baa36;
  --closeBtFill: #fff;
}

body {
  transition: 1s;
}

@media screen and (min-width: 1440px) {
  .container {
    position: relative;
    top: 0;
    right: 0;
  }
}
