.search {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .search {
    margin-top: 28px;
  }
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.text {
  margin-right: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--titleColor);
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .text {
    font-size: 18px;
    line-height: 24px;
  }
}

.customSelect {
  position: relative;
  width: 146px;
  height: 34px;
  font-size: 14px;
  line-height: 1.5;
  border: none;
  border-radius: 6px;
  background-color: #f5f5f5;
  outline: none;
  color: black;
  opacity: 0.5;
  box-shadow: 2px var(--countBorder);
  overflow: hidden;
}
/* select::-moz-focus-inner {
  border: 0;
  outline: none;
}
select:focus {
  outline: none;
  box-shadow: none;
} */

.customSelect:hover,
.customSelect:focus {
  outline: 0 !important;
  border: none;
  box-shadow: none;
}
/* select:not(:active) {
  outline: none;
  border-color: initial;
  box-shadow: none;
  cursor: default;
} */

.option {
  border-radius: 0px 0px 6px 6px;
  background-color: var(--whiteColor);
  height: 62px;
  color: rgba(0, 0, 0, 0.5);
}
.option:hover,
.option:focus {
  outline: 0 !important;
  border: none !important ;
}

@media screen and (min-width: 768px) {
  .customSelect {
    width: 175px;
    height: 41px;
  }
  .option {
    width: 175px;
    height: 74px;
  }
}
@media screen and (min-width: 1440px) {
  .customSelect {
    width: 198px;
    height: 49px;
  }
  .option {
    width: 198px;
    height: 78px;
  }
}
