.search {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .search {
    margin-top: 28px;
  }
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.text {
  margin-right: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--titleColor);
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .text {
    font-size: 18px;
    line-height: 24px;
  }
}
